# Object files
*.o
src/freedroidRPG
croppy/croppy
gluem/*gluem
win32/pngtoico
lua/liblua.a
lua/lua*.exe
lua/lua*.dll
src/*.exe
gluem/*font
gluem/make_atlas
gluem/explode_atlas

# Patches
*.orig
# *.rej
*.patch
*.diff

# Build system files
configure
config.*
Makefile
Makefile.in
.deps
missing
stamp-h1
install-sh
aclocal.m4
autom4te.cache
depcomp
compile
src/version.c
src/savestruct.h
src/savestruct.c
src/.dirstamp
src/lvledit/.dirstamp
src/mapgen/.dirstamp
src/widgets/.dirstamp
src/lua/.dirstamp
doc/Doxyfile
doc/manual/Doxyfile
INSTALL

# Helpers
TAGS
cscope.out
doxygen/
callgrind.out*
doxygen.log

# Output
stderr.txt
stdout.txt

# Files added by autopoint
m4/codeset.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/lock.m4
m4/longlong.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4

# Files added by autopoint into po dirs
po/*/Makefile.in.in
po/*/Makevars.template
po/*/Rules-quot
po/*/boldquot.sed
po/*/en@boldquot.header
po/*/en@quot.header
po/*/insert-header.sin
po/*/quot.sed
po/*/remove-potcdate.sin
po/*/remove-potcdate.sed
po/*/POTFILES

# Result of translation build
po/*/*.po~
po/*/*.gmo
po/*/stamp-*
po/l10n-others/tx
locale/
