# Object files
*.o
src/freedroidRPG
croppy/croppy
gluem/*gluem
win32/pngtoico
lua/liblua.a
lua/lua*.exe
lua/lua*.dll
src/*.exe
gluem/*font
gluem/make_atlas
gluem/explode_atlas

# Patches
*.orig
*.rej
*.patch
*.diff

# Build system files
configure
config.*
Makefile
Makefile.in
.deps
missing
stamp-h1
install-sh
aclocal.m4
autom4te.cache
depcomp

# Helpers
TAGS
cscope.out
doxygen/
callgrind.out*

# Output
stderr.txt
stdout.txt
